In [2]:
import pandas as pd
dataset = pd.read_csv('ENJOYSPORT.CSV')

In [3]:
type(dataset)

pandas.core.frame.DataFrame

In [4]:
dataset.columns

Index(['Sky', 'AirTemp', 'Humidity', 'Wind', 'Water', 'Forecast',
       'EnjoySport'],
      dtype='object')

In [44]:
num_attribute = len(dataset.columns)-1

In [5]:
dataset.head()

     Sky AirTemp Humidity    Wind Water Forecast  EnjoySport
0  Sunny    Warm   Normal  Strong  Warm     Same           1
1  Sunny    Warm     High  Strong  Warm     Same           1
2  Rainy    Cold     High  Strong  Warm   Change           0
3  Sunny    Warm     High  Strong  Cool   Change           1

In [6]:
dataset.shape

(4, 7)

In [7]:
dataset.tail()

     Sky AirTemp Humidity    Wind Water Forecast  EnjoySport
0  Sunny    Warm   Normal  Strong  Warm     Same           1
1  Sunny    Warm     High  Strong  Warm     Same           1
2  Rainy    Cold     High  Strong  Warm   Change           0
3  Sunny    Warm     High  Strong  Cool   Change           1

In [12]:
data = dataset.iloc[:, :6]

In [13]:
target = dataset.iloc[:, 6]

In [14]:
data.head()

     Sky AirTemp Humidity    Wind Water Forecast
0  Sunny    Warm   Normal  Strong  Warm     Same
1  Sunny    Warm     High  Strong  Warm     Same
2  Rainy    Cold     High  Strong  Warm   Change
3  Sunny    Warm     High  Strong  Cool   Change

In [15]:
target.head()

0    1
1    1
2    0
3    1
Name: EnjoySport, dtype: int64

In [22]:
len(dataset)

4

In [36]:
type(dataset.iloc[0, -1])

numpy.int64

In [24]:
type(data)

pandas.core.frame.DataFrame

In [16]:
len(data)

4

In [17]:
len(target)

4

In [18]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sky         4 non-null      object
 1   AirTemp     4 non-null      object
 2   Humidity    4 non-null      object
 3   Wind        4 non-null      object
 4   Water       4 non-null      object
 5   Forecast    4 non-null      object
 6   EnjoySport  4 non-null      int64
dtypes: int64(1), object(6)
memory usage: 356.0+ bytes

In [21]:
dataset.shape
columns =dataset.shape[1]
rows =dataset.shape[0]
print("No of columns: ", columns)
print("No of rows: ", rows)

No of columns:  7
No of rows:  4

In [26]:
print("\nThe initial hypothesis is :", end='')
hypothesis =['0']* len(data.columns)
print(hypothesis)

The initial hypothesis is :['0', '0', '0', '0', '0', '0']

In [41]:
def find_salgorithm(dataframe):
    specific_hypothesis =['0']*(len(dataframe.columns)-1)
    
    for _, data in dataframe.iterrows():
        if data.iloc[-1]==1:
            for i, attr in enumerate(data[:-1]):
                if specific_hypothesis[i]=='0':
                    specific_hypothesis[i]=attr
                elif specific_hypothesis[i]!=attr:
                    specific_hypothesis[i]='?'
        print("\nThe hypothesis for the training instance {} is".
             format(i+1), specific_hypothesis)
    return specific_hypothesis

In [43]:
print("\n\nGeneral hypothesis: ", find_salgorithm(dataset))

The hypothesis for the training instance 6 is ['Sunny', 'Warm', 'Normal', 'Strong', 'Warm', 'Same']

The hypothesis for the training instance 6 is ['Sunny', 'Warm', '?', 'Strong', 'Warm', 'Same']

The hypothesis for the training instance 6 is ['Sunny', 'Warm', '?', 'Strong', 'Warm', 'Same']

The hypothesis for the training instance 6 is ['Sunny', 'Warm', '?', 'Strong', '?', '?']


General hypothesis:  ['Sunny', 'Warm', '?', 'Strong', '?', '?']

In [45]:
print("\n The initial hypothesis is : ", end='')
hypothesis = ['0']*num_attribute
print(hypothesis)

 The initial hypothesis is : ['0', '0', '0', '0', '0', '0']