In [1]:
import numpy as np
import pandas as pd
from sklearn.naive_bayes import GaussianNB, MultinomialNB, BernoulliNB
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler , MinMaxScaler, RobustScaler

In [2]:
dataset = pd.read_csv('heart_dataset.csv')
dataset.head()

,patientid,age,gender,chestpain,restingBP,serumcholestrol,fastingbloodsugar,restingrelectro,maxheartrate,exerciseangia,oldpeak,slope,noofmajorvessels,target
0,103368,53,1,2,171,0,0,1,147,0,5.3,3,3,1
1,119250,40,1,0,94,229,0,1,115,0,3.7,1,1,0
2,119372,49,1,2,133,142,0,0,202,1,5.0,1,0,0
3,132514,43,1,0,138,295,1,1,153,0,3.2,2,2,1
4,146211,31,1,1,199,0,0,2,136,0,5.3,3,2,1

In [3]:
data = dataset.iloc[:, :-1]
target = dataset.iloc[:,  -1]
print('data shape : ', data.shape)
print('target shape : ', target.shape)

data shape :  (1000, 13)
target shape :  (1000,)

In [4]:
data.head()

,patientid,age,gender,chestpain,restingBP,serumcholestrol,fastingbloodsugar,restingrelectro,maxheartrate,exerciseangia,oldpeak,slope,noofmajorvessels
0,103368,53,1,2,171,0,0,1,147,0,5.3,3,3
1,119250,40,1,0,94,229,0,1,115,0,3.7,1,1
2,119372,49,1,2,133,142,0,0,202,1,5.0,1,0
3,132514,43,1,0,138,295,1,1,153,0,3.2,2,2
4,146211,31,1,1,199,0,0,2,136,0,5.3,3,2

In [5]:
target.tail()

995    1
996    0
997    1
998    1
999    0
Name: target, dtype: int64

In [6]:
target.value_counts()

target
1    580
0    420
Name: count, dtype: int64

In [7]:
print(data.shape)
print(target.shape)

(1000, 13)
(1000,)

In [8]:
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state = 0, stratify = target)
print('X_train shape : ', X_train.shape)
print('X_test shape : ', X_test.shape)
print('y_train shape : ', y_train.shape)
print('y_test shape : ', y_test.shape)

X_train shape :  (750, 13)
X_test shape :  (250, 13)
y_train shape :  (750,)
y_test shape :  (250,)

In [9]:
scr = MinMaxScaler()
scr.fit(X_train)
X_train = scr.transform(X_train)
X_test = scr.transform(X_test)

In [10]:
classifier = GaussianNB()
classifier.fit(X_train, y_train)
print(classifier.class_count_)
print(classifier.class_prior_)
print(classifier.n_features_in_)

[315. 435.]
[0.42 0.58]
13

In [11]:
y_pred = classifier.predict(X_test)

In [12]:
print(y_pred)

[0 0 1 0 0 1 1 1 1 0 1 0 1 1 1 0 0 1 1 1 1 1 1 1 1 0 0 0 1 0 0 1 0 1 1 1 1
 1 0 1 1 0 0 1 0 0 0 1 0 1 1 0 0 1 1 1 1 1 0 1 1 0 1 1 0 0 0 1 0 0 0 1 1 1
 1 1 1 0 1 1 1 0 1 1 1 0 0 0 0 1 0 1 1 1 1 1 0 0 0 0 0 1 0 1 1 0 1 0 1 1 0
 1 1 1 1 1 1 0 1 1 0 1 1 1 1 0 0 0 1 0 1 1 1 0 0 1 1 1 1 0 1 0 1 1 0 0 1 0
 1 0 1 0 0 0 1 0 0 1 1 0 0 1 0 0 1 0 1 1 0 1 1 1 0 0 1 0 0 1 1 0 0 0 0 1 1
 1 0 0 0 1 1 1 1 1 0 0 0 1 1 0 1 0 1 1 1 1 1 1 1 1 1 0 0 1 0 0 0 0 0 1 1 1
 0 1 1 0 1 1 0 1 1 1 0 1 0 0 1 0 0 1 0 1 0 0 1 1 0 1 0 1]

In [13]:
print("training score : {:.2f}".format(classifier.score(X_train, y_train)))
print("test score : {:.3f}".format(classifier.score(X_test, y_test)))

training score : 0.95
test score : 0.924

In [14]:
print("test score : {:.3f}".format(np.mean(y_pred == y_test)))

test score : 0.924